<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제목</title>
   	<th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/notice-detail.css">
</head>
<body>
	<th:block th:replace="/fragments/header"></th:block>
    <main>
        <article>
            <section class="notice-detail-header">
                <h1 class="notice-detail-title">스프링 부트 공지사항 게시글 테스트</h1>
                <div class="notice-detail-description">
                    <h3>작성자 : junil</h3>
                    <h3>작성일 : 2022-08-19 19:17:00</h3>
                    <h3>조회수: 100000000000</h3>
                    
                </div>
            </section>
            <section class="notice-content">
                <p><span style="color: rgb(255, 0, 0);">스프링 부트 게시글 작<span style="font-size: 18pt;">성 테스트임</span>.</span></p><p><span style="font-family: 궁서, Gungsuh, GungSeo;">네이버 </span><b><span style="font-family: 궁서, Gungsuh, GungSeo;">스마트</span> 에디터</b> <u>사용하기</u>.</p><p><br></p>
            </section>
            <section class="notice-file">
                <h3>첨부파일 : </h3> 
                <a href="#">aaaa.jpg</a> / <a href="#">aaaa.jpg</a> / <a href="#">aaaa.jpg</a>
            </section>
            <div class="detail-buttons">
                <div class="page-buttons">
                    <button class="detail-button pre" type="button">이전</button>
                    <button class="detail-button next" type="button">다음</button>
                </div>
                <div>
                    <button class="detail-button modify" type="button">수정</button>
                    <button class="detail-button delete" type="button">삭제</button>
                    <button class="detail-button list" type="button">목록</button>
                </div>
            </div>
            
        </article>
    </main>
    <script type="text/javascript" src="/static/js/notice/notice-detail.js"></script>t
</body>
</html>